root=true

[*]
indent_style=space
indent_size=4
tab_width=4

[*.cc]
indent_size=2
tab_width=8

[*.h]
indent_size=2
tab_width=8

[*.yml]
indent_size=2

[*.yaml]
indent_size=2

[Makefile]
indent_style=tab

[*.groovy]
indent_size=2

[*.html]
indent_size=2

[*.proto]
indent_size=2

[*.pbtxt]
indent_size=2

[*.cl]
indent_size=2

[*.rst]
indent_size=3
indent_style=space

[*.md]
indent_size=2

[*.j2]
indent_size=2

[*.td]
indent_size=2

[*.mlir]
indent_size=2

[CMakeLists.txt]
indent_size=2

[*.cmake]
indent_size=2
