# Python
dist/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Sphinx documentation
docs/_build/
# Sphinx autoapi generated module summaries
docs/plaidml/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# macos
.DS_Store
*~

# Visual Studio Code
.vscode

/tmp
/.cenv

# Source code tagging tools
tags

# CMake stuff
build-*/
