[submodule "vendor/openvino"]
	path = vendor/openvino
	url = git@github.com:openvinotoolkit/openvino.git
	branch = master
[submodule "vendor/mlir-hlo"]
	path = vendor/mlir-hlo
	url = https://github.com/plaidml/mlir-hlo
