[submodule "vendor/openvino"]
	path = vendor/openvino
	url = https://github.com/plaidml/openvino.git
	branch = plaidml
[submodule "vendor/mlir-hlo"]
	path = vendor/mlir-hlo
	url = https://github.com/tensorflow/mlir-hlo.git
