language: python

matrix:
  include:
  - python: "2.7"
    env:
      - BZL_PY_VER=PY2
      - PLAIDML_EXPERIMENTAL=1 
  - python: "3.6"
    env: 
      - BZL_PY_VER=PY3
      - PLAIDML_EXPERIMENTAL=1 

before_install:
  - sudo apt-get install openjdk-8-jdk bison g++ wget -y
  - culr -o bazel-installer.sh https://github.com/bazelbuild/bazel/releases/download/0.7.0/bazel-0.7.0-without-jdk-installer-linux-x86_64.sh
  - chmod +x ./bazel-installer.sh
  - sudo ./bazel-installer.sh
  - wget https://storage.googleapis.com/external_build_repo/opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25.tgz
  - tar xzvf opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25.tgz
  - pushd opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25
  - sudo ./install.sh --cli-mode --silent ../tools/intel-ocl-silent
  - popd
  - pip install tensorflow theano setuptools h5py
  - git clone http://github.com/plaidml/plaidbench  

install:
  - bazel build -c opt --force_python=$BZL_PY_VER plaidml:wheel plaidml/keras:wheel
  - pip install bazel-bin/plaidml/*whl bazel-bin/plaidml/keras/*whl

script:
  - bazel test -c opt --force_python=$BZL_PY_VER --test_env=PLAIDML_EXPERIMENTAL plaidml/keras:backend_test
  - python plaidbench/plaidbench.py mobilenet
