language: python

matrix:
  include:
  - python: "2.7"
    env:
      - BZL_PY_VER=PY2

  allow_failures:
  - python: "3.6"
    env: 
      - BZL_PY_VER=PY3

before_install:
  - echo "deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
  - curl https://bazel.build/bazel-release.pub.gpg | sudo apt-key add -
  - sudo apt-get update -q   
  - sudo apt-get install openjdk-8-jdk bazel bison g++ wget -y
  - wget https://storage.googleapis.com/external_build_repo/opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25.tgz
  - tar xzvf opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25.tgz
  - pushd opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25
  - sudo ./install.sh --cli-mode --silent ../tools/intel-ocl-silent
  - popd
  # Before_install results seem to generally get cached.
  - pip install tensorflow theano
  - git clone http://github.com/plaidml/plaidbench
  # TODO(https://github.com/plaidml/plaidml/issues/20): Reenable once python3 wheel is avilable
  # - pip install -r plaidbench/requirements.txt
  - bazel build -c opt plaidml:wheel plaidml:wheel_v3 plaidml/keras:wheel plaidml/keras:wheel_v3

install:
  - pip2 install bazel-bin/plaidml/*py2*whl bazel-bin/plaidml/keras/*py2*whl
  - pip3 install bazel-bin/plaidml/*py3*whl bazel-bin/plaidml/keras/*py3*whl

script:
  # TODO(https://github.com/plaidml/plaidml/issues/20): Reenable once python3 wheel is avilable
  # - PLAIDML_EXPERIMENTAL=1 python plaidbench/plaidbench.py mobilenet
  - bazel test -c opt --force_python=$BZL_PY_VER //plaidml/keras:backend_test
