{
    ## Define the stripe passes
    "passes": [
        ## Lower temps
        { "name": "localize_tmps", "localize" : {"reqs": ["program"], "ref_reqs": ["tmp"] } },

        {
            "name": "stencil_mac",
            "stencil": {
                "reqs": ["agg_op_add", "comb_op_mul"],
                "outer_set": ["mac"],
                "inner_set": ["mac_inner"],
                "stencils": [
                    {
                        "startup_cost": 32,
                        "idxs": [
                            { "name": "a", "size":  8, "outs": [1], "ins": [1,  0] }
                        ]
                    },
                    {
                        "startup_cost": 32,
                        "idxs": [
                            { "name": "a", "size":  8, "outs": [1], "ins": [0,  1] }
                        ]
                    }
                ]
            }
        },
        {
            "name": "tile_contract",
            "autotile": {
                "reqs": ["contraction"],  ## Apply to only dense operations
                "outer_set": ["contract_outer", "kernel"],
                "inner_set": ["contract_inner"],
                "clear_outer": true,
                ## "acc_idxs": false,
                "only_po2": true,  ## Only consider PO2 sizes for speed
                "max_total_size": {{ L1_CACHE_SIZE * 1024 }},  ## All inputs must fit in local memory
                ## Since all loads to/from global memory are across a wide bus, use that as the
                ## cache_width to optimize for contigous regions of DRAM for each inner block
                "cache_width": {{ CACHE_WIDTH }}
            }
        }
    ]
}
