build -c opt
test -c opt
run -c opt

build --spawn_strategy=standalone
test --spawn_strategy=standalone
run --spawn_strategy=standalone

build --genrule_strategy=standalone
test --genrule_strategy=standalone
run --genrule_strategy=standalone

build --distinct_host_configuration=false
build:ro --remote_upload_local_results=false

build --action_env=LC_ALL # This is to allow plaidbench to work on *nix under python3
build --action_env=LANG # This is to allow plaidbench to work on *nix under python3
build --action_env=NO_PROXY
build --action_env=HTTP_PROXY
build --action_env=HTTPS_PROXY
build --action_env=no_proxy
build --action_env=http_proxy
build --action_env=https_proxy

build --define=version=0.0.0.dev0
build --build_tag_filters=-msvc
test --test_tag_filters=-msvc
test --test_timeout_filters=-eternal
test --test_output=streamed
test --test_env=HOME
test --test_env=PLAIDML_EXPERIMENTAL
test --test_env=PLAIDML_DEVICE_IDS
test --test_sharding_strategy=disabled
run --test_env=HOME
run --test_env=PLAIDML_EXPERIMENTAL
run --test_env=PLAIDML_DEVICE_IDS
run --test_sharding_strategy=disabled

build:linux_x86_64 --cpu=linux_x86_64
build:linux_x86_64 --crosstool_top=//toolchain:toolchain
build:linux_x86_64 --host_crosstool_top=//toolchain:toolchain
build:linux_x86_64 --build_tag_filters=-darwin,-metal,-msvc,-pytorch
test:linux_x86_64 --test_tag_filters=-darwin,-metal,-msvc,-pytorch

build:macos_x86_64 --cpu=darwin_x86_64
build:macos_x86_64 --apple_platform_type=macos
build:macos_x86_64 --build_tag_filters=-large,-linux,-msvc
test:macos_x86_64 --test_tag_filters=-large,-linux,-msvc

build:windows_x86_64 --build_tag_filters=-conda,-darwin,-deb,-docs,-graphviz,-linux,-metal,-shell
build:windows_x86_64 --action_env=CONDA_EXE
build:windows_x86_64 --action_env=NUMBER_OF_PROCESSORS
build:windows_x86_64 --action_env=PLAIDML_SETTINGS
test:windows_x86_64 --test_tag_filters=-catch,-conda,-darwin,-deb,-docs,-graphviz,-linux,-metal,-shell,-windows_path_fail
test:windows_x86_64 --test_env=CONDA_EXE
test:windows_x86_64 --test_env=NUMBER_OF_PROCESSORS
test:windows_x86_64 --test_env=PLAIDML_SETTINGS
test:windows_x86_64 --test_env=USERPROFILE

build:callgrind -c dbg
build:callgrind --cxxopt=-O3
build:callgrind --define=with_callgrind=true
run:callgrind --run_under='valgrind --quiet --tool=callgrind'
